# Terraform
*.tfstate
*.tfstate.backup
*.tfstate.lock.info
.terraform/
.terraform.lock.hcl
terraform.tfvars
terraform.tfvars.json
*.tfplan
tfplan.out
tfplan2.out

# Sensitive files
*.pem
*.key

# OS files
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

